* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 0.5em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50em;
    height: auto;;
}

.logo {
    width: 4em;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
}

header {
    background: rgba(255, 192, 203, 0.8);
}

.nlink {
    font-family: "Dancing Script", cursive;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    padding: 1em 0.1em;
}

.nlink:hover {
    color: #d6006e;
    text-shadow: 0 0 6px rgba(214, 0, 110, 0.4);
}

.angyalhatter{
    background-image: url(hatter1.JPG);
}

.quizhatter{
    background-image: url(quiz.JPG);
}

body {
    background-repeat: no-repeat;
    min-height: 18em;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    line-height: 1.6;
}


main {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: rgba(255, 192, 203, 0.8);
    backdrop-filter: blur(4px);
    padding: 40px;
    border-radius: 12px;
}

h1 {
    font-family: "Playwrite NO", cursive;
    

    text-align: center;
    font-size: 2.5rem;
    color: #c2188f;
    margin-bottom: 40px;
}

h2 {
    font-family: "Playwrite NO", cursive;
  

    margin: 20px 0 10px 0;
    color: #cc0099;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    border-left: 5px solid #cc0099;
    padding-left: 10px;
}

p {
    font-family: "Playwrite NO", cursive;

    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.1rem;
}

.center{
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #cc0099;
    margin: 30px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(255, 192, 203, 0.8);
}

/*--Modellek--*/
.modellek-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    background-color: rgba(255, 192, 203, 0.8);
    margin-top: 4em;
    margin-bottom: 4em;
}

.modell-card {
    background: #ffffffcc;
    backdrop-filter: blur(6px);
    padding: 15px;
    border-radius: 14px;
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.modell-card:hover {
    transform: translateY(-7px);
}

.modell-card p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: #b30086;
}

.modell {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

/*--Quiz--*/
.blokk2 {
    background:  whitesmoke;
    font-family: "Playwrite NO", cursive;
    text-align: center;
    padding: 1em;
    border-radius: 0.75em;
    margin: 2em 4em ;      
    box-shadow: 0 0.2em 0.5em black; /*árnyék*/
}

.option {
    display: block; /*blokkok egymás alatt*/
    align-items: center;
    padding: 10px 12px;
    margin: 8px 0;
    background:rgba(255, 192, 203,0.7);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover {
    background: #e6e6ff;
}

.option input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
}

.option span {
    font-size: 16px;
    color: #333;
}

#jatekForm button {
    display: block;          /* inline-block, hogy a margin működjön */
    padding: 1em;
    font-family: "Playwrite NO", cursive;
    background-color: #b30086;
    color: white;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;       /* felül 0, alul 2em, balra-jobbra auto */
    font-size: 100%;
}

/*--Nyereményjáték--*/
.kozep_ig {
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

ol{
    font-family: "Playwrite NO", cursive;
    text-align: left;
    font-size: 1.1rem;
    padding-left: 1em;
}

#nyeremenyForm {
    margin-top: 1.5em;
}

#nyeremenyForm label {
    font-family: "Playwrite NO", cursive;
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #b30086;
    margin-top: 2em;
}

/*--Input mezők--*/
#nyeremenyForm input[type="text"],
#nyeremenyForm input[type="tel"],
#nyeremenyForm input[type="date"],
#nyeremenyForm input[type="email"],
#nyeremenyForm select {
    width: 100%;
    padding: 0.3em;
    border-radius: 0.8em;
    font-family: "Playwrite NO", cursive;
    border: 2px solid transparent;
    margin: 15px;
    font-size: 1em;
    background: #fff0f9;
    box-sizing: border-box;
    transition: 0.3s;
}

/*--Input fókusz effekt--*/
#nyeremenyForm input:focus,
#nyeremenyForm select:focus {
    border-color: #b30086;
    outline: none;
    background: #ffe5f4;
}

input[type="range"] {
    width: 100%;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #b30086;
    outline: none;
    margin-top: 0.7em;
}

#pontszamKijelzes {
    margin-left: 1em;
    font-weight: bold;
    color: #b30086;
}

#robot {
    transform: scale(1.3);
    margin-right: 0.5em;
}

#nyeremenyForm button{
    padding: 1em;
    font-size: 90%;
    background-color: #b30086;
    color: white;
    border-radius: 0.5em;
    margin-top: 2em;
    font-weight: bold;
    cursor: pointer;
}

/*--Hibák--*/
.error-msg {
    font-size: 0.85em;
    color: red !important;
}

input.input-error,
textarea.input-error,
select.input-error {
    border: 2px solid red !important
}



/*--Reszponzivitás--*/
@media (max-width: 700px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
    .nlink {
        font-size: 1.5rem; /* kisebb szöveg */
    }
}

@media (max-width: 600px) {
    main {
        width: 95%;
        padding: 15px;
        max-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    p,ol{
        font-size: 0.8rem;
    }

    .blokk2{
        margin: 2em 2em ;
    }
}
